<div class="jumbotron">
	<h1 style="color:white;">Simple Blog</h1>
	<p class="lead">This simple blog is for testing Web programming ability. COOKPAD and TOP CAREER JAPAN suggested this test to me.<br>Thank you for inviting!</p>
  <p><%unless user_signed_in?%><a class="btn btn-lg btn-success" href="/users/sign_up" role="button">Sign up</a><%else%><a class="btn btn-lg btn-warning" href="/blogs/feeds">Go To News Feeds</a><%end%></p>
</div>

<div class="row marketing">
	<div class="col-lg-12">
		<h4>Simple Blog</h4>
		<p>You can sign up, sign in, upload post with photo, leave comments on post, delete your post, delete your comments, upload profile image, update profile image, delete profile image.</p>

	</div>

</div>

